.add-container {
    width: 100%;
}


.add-container input {
    width: 100%;
    color: rgba(0, 0, 0, 0.735);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    display: block;
    outline: none;
    border-radius: 5px;
    border-color: hsl(0, 0%, 80%);
    padding: 10px;
}

.add-container textarea {
    width: 100%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.735);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    display: block;
    outline: none;
    border-radius: 5px;
    border-color: hsl(0, 0%, 80%);
    height: 100px;

}

.add-container .form {
    display: flex;
    flex-flow: column;
    max-width: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-container .form :not(button) {
    box-shadow: none;
}

.btn {
    background-color: white;
    border-radius: 5px;
    color: black;
    height: 60px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 0px 16px -8px;
}